[v-cloak] { display:none; }
[v-cloak]::before { content: "loading…" }

.card {
    box-shadow: 0 1px 3px 0 rgba(51,51,51,.2);
    padding: 24px 24px 12px;
    border-radius: 3px;
    color: #666;
    font-weight: 200;
}

.vue-treeselect {
    z-index: 1;
}

.location-input .vue-treeselect__multi-value-item, .location-input .vue-treeselect__value-remove {
    color: #F56565;
    background-color: #FFF5F5;
}

body {
    background-color: #dadcde;
    color: #333;
    font: normal 14px/22px Roboto,sans-serif;
}

.board {
    background-color: #fff;
}

.top-bar {
    background-color: #57A8BF;
    background-image: linear-gradient(180deg, rgb(144 198 213), #57A8BF);
    -webkit-background-image: linear-gradient(180deg, rgb(144 198 213), #57A8BF);;
    position: sticky;
    top: 0px;
}

.canonical {
    font-weight: bold;
}

.inactive {
    text-decoration: line-through;
}

.muted {
    color: #5a6268;
}

.level-danger {
    background-color: red;
}

.level-warning {
    background-color: yellow;
}

.level-info {
    background-color: blue;
}